
/* Roboto is not supported by default and had to look up how to get it. Quick google searched lead to google font website to side the code
to embed it into our HTML head and these lines of codes below */
.roboto-font-change {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }

*,
*::before,
*::after{
    /* basic setup thats recommended to include at the start
    understand the style changes but not the before or after things */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* setting the default font type for all the items */
   font-family: 'Roboto';
}

.container{
    display: flex;
    flex-direction: column;
}

/* Main hero and nav share the same background and text color. Decided to group them together to make it easy. */
.main-hero,
.main-nav{
    background-color: #1F2937;
    
    
}

/* Making the nav into a flex box */
.main-nav{
    
    display: flex;
    justify-content: space-between;
    padding: 30px;
   

    
}
/* setting the font size for the nav logo */
.main-nav .nav-header{
    font-size: 24px;
    color: #F9FAF8;
   
    
}
/* Making our unorder list in nav into a flex box and removing  */
.main-nav .nav-links{

    list-style-type: none;
    display: flex;
    column-gap: 40px;
    
    font-size: 18px;
    color: #e5e7eb;

}


/* making main hero and its items into a flex box */
.main-hero{
    display: flex;
    place-content: center center;
    column-gap: 50px;
    padding: 40px;
}

/* setting the font for the header on the left side of hero */
.hero-left-header{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

    width: 400px ;
    height: auto;

}
/* font style for text under header */
.hero-left-p{
    font-size: 18px;
    color: #e5e7eb;
}
/* setting color for button in hero left */
.hero-left-btn{
    background-color: #3882F6;
    color: white;
    /* padding: 10px; */
    width: 100px;
    height: 35px;
    text-align: center;
}
/* setting a placeholder for an image on hero right */
.hero-right{
    border: black solid 2px;
    background-color: gray;
    width: 500px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* making the info section into a flex container with desire padding and gap
    Maybe the gap isnt actually working her. Done in this way so that the header is above the boxes */
.info-sec{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px;
}
/* header was made into a flex so I can center the text easily */
.info-header{
    display: flex;
    justify-content: center;
    font: 36px;
    font-weight: 900;
    
    color: #1F2937;

}

/* info container is so that the boxes and text underneath have their own section */
.info-container{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    margin-bottom: 25px;

}
/* Created boxes with desired look under info items */
.info-items .info-boxes{
    border: blue solid 5px;
    width: 150px;
    height: 150px;
}

/* setting the desire width and text align for text under boxes. The width is the same as the boxes above. */
.info-items p{
    width: 150px;
    text-align: center;
}

/* made the quote section into a flex container with the desired style */
.giant-quote-sec{
    display: flex;
    padding: 40px;
    background-color: #E5E7EB;
    justify-content: center;
}
/* a container in sectin is set the "desired" width */
.giant-quote-container{
    /* text-align: center; */
    width: 850px;

    
}
/* the text in the container is getting its font style from here */
.giant-quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
/* I thought it would be easier to set the quote creator like this. Might be an easier way. */
.giant-quote-creator{
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
}



.footer-sec{
    margin: 40px 100px;
    display: flex;
    justify-content: center;
}

.footer-main{
    
    display: flex;
    background-color: #3882F6;
    
    width: 800px;
    height: 150px;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    
}
.footer-info{
    display: flex;
    flex-direction: column;

    
}
.footer-text-1{
    color:#E5E7EB;
    font-weight: bold;
    font-size: 20px;
}


.footer-text-2{
    color:#E5E7EB;
    font-size: 15px;
}


.footer-btn{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px;
    border: #E5E7EB solid 2px;
    width: 100px;
    height: 35px;
    text-align: center;
}


